.main.container {
  margin-top: 7em;
}

.servers {
  margin: 4em 0;
}

.output {
  border: #302E2F 1px solid;
  color: #57ff27;
  background-color: #302e2f;
  padding: 0.4em 0.7em;
  border-radius: 2px;
  display: none;
  -webkit-transition: ease-out 2s; /* Safari */
  transition: ease-out 2s;
  height: 10em;
  overflow-y: auto;
}

.slave-disabled{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  &::before{
    color: white;
    content: "Add an algo first";
    text-align: center;
    width: 100%;
    display: inline-block;
    padding-top: 30%;
    font-size: 2em;
  }
}
