{% extends 'layout.twig' %}
{% block body %}
  <div id="result" class="ui main container" style="display: block;">
    <h1><a href="/"><i class="teal arrow left icon"></i></a>Result of the algorithm</h1>
    <div class="containerChart">

    </div>
    <script src="./bower/chart.js/dist/Chart.min.js"></script>
    <script src="./js/controller/chart.js"></script>
  </div>
{% endblock %}
