<div class="ui inverted vertical footer segment">
    <div class="ui center aligned container">
        <div class="ui center aligned stackable inverted">
            <h4 class="ui inverted header">About WebLab</h4>
            <p>This is an application made for our scientists and programmers who want to test their algorithms.</p>

            <div class="ui horizontal inverted link list">
                <a class="item" href="http://github.com/xchopin">Xavier CHOPIN</a>
                <a class="item" href="http://github.com/iryu54">Corentin LABROCHE</a>
                <a class="item" href="http://github.com/vadumee">David LEBRUN</a>
            </div>
        </div>

        <div class="ui inverted section divider"></div>
        <img src="/images/logo.jpg" class="ui centered mini image">
        <div class="ui horizontal inverted small divided link list">
            <a class="item" href="http://univ-lorraine.fr">© 2017 Copyright University of Lorraine</a>
            <a class="item" href="http://github.com/TPCISIIE/WebLab"><i class="github icon"></i> Github repository</a>
        </div>
    </div>
</div>

<script>
    function onHover() {
        $("#logo").attr('src', 'images/logo_hover.jpg');
    }

    function offHover() {
        $("#logo").attr('src', 'images/logo.jpg');
    }
</script>