{% extends 'layout.twig' %}

{% block body %}

    <div class="container">
        <div class="jumbotron">
            <h1>{{hardware.hostname}}</h1>
            <div class="listHardware">
                <div class="hardware">Architecture:{{hardware.architecture}}</div>
                <div class="hardware">
                    Plateforme:{{hardware.platform}}
                    {{hardware.release}}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
