<<<<<<< HEAD
<div class="ui fixed inverted menu">
    <div class="ui container">
      <a href="#" class="header item" onmouseover="onHover();" onmouseout="offHover();" >
        <img class="logo" id='logo' src="/images/logo.jpg" alt="logo"/> WebLab
      </a>
      <a href="#" class="item">Home</a>
      <div class="ui simple inverted dropdown item">
        Actions <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item" href="#">Action 1</a>
          <a class="item" href="#">Action 2</a>
        </div>
      </div>
    </div>
  </div>
<br/>
